<div class="container">
  <div class="card col-8 mt-5">
    <div class="card-header  text-center text-info">

    </div>
    <div class="card-body">
     <div class="row text-center text-white">
     <div class="col-6">
      <h4>Rahul</h4>
      <p>s/o Shivaji Harihar</p>
     </div>
     <div class="col-6">
      <h4>Pooja</h4>
      <p>d/o Mahadev Navgan</p>
     </div>
     </div>
    </div>
    <hr>
    <div class="text-success p-1 " style="font-size: small;">
      <p>After the wedding ceremony, it's time to let your hair down and celebrate this happy union. Join us for the wedding reception on 05 August 2024 at 7.00 pm at my Home Town Solapur.</p>
    </div>
    
    <div class="card-footer">

    </div>
  </div>
</div>